# Spotify Analytics

This is a Jupyter notebook for ZTM's Hacktober 2023. The goal is to analyse the given Spotify data.

# Project Overview

The project consists of a script that reads data from a CSV file (spotify-2023.csv) and performs the following tasks.
1. Load Spotify data from the CSV file.
2. Create a folder for your project with your github handle.
3. Complete at least one of the challenges below.
4. Add your folder with your project to the submissions folder of this repo.
5. Include the script that runs your file.


## Challenges
1. Write a script to identify the number of songs in the file.
2. Write a script that identify the number of songs in the key of E.
3. Count the occurrences of values in a specified column (e.g., artist names) and determine the most common value.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./spotify-2023.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953 entries, 0 to 952
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   track_name            953 non-null    object
 1   artist(s)_name        953 non-null    object
 2   artist_count          953 non-null    int64
 3   released_year         953 non-null    int64
 4   released_month        953 non-null    int64
 5   released_day          953 non-null    int64
 6   in_spotify_playlists  953 non-null    int64
 7   in_spotify_charts     953 non-null    int64
 8   streams               953 non-null    object
 9   in_apple_playlists    953 non-null    int64
 10  in_apple_charts       953 non-null    int64
 11  in_deezer_playlists   953 non-null    object
 12  in_deezer_charts      953 non-null    int64
 13  in_shazam_charts      903 non-null    object
 14  bpm                   953 non-null    int64
 15  key                   858 non-null    object
 16  mode                  953 non-null    object
 17  danceability_%        953 non-null    int64
 18  valence_%             953 non-null    int64
 19  energy_%              953 non-null    int64
 20  acousticness_%        953 non-null    int64
 21  instrumentalness_%    953 non-null    int64
 22  liveness_%            953 non-null    int64
 23  speechiness_%         953 non-null    int64
dtypes: int64(17), object(7)
memory usage: 178.8+ KB

In [3]:
df.head()

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,14,553,147,141381703,43,...,125,B,Major,80,89,83,31,0,8,4
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286,48,...,92,C#,Major,71,61,74,7,0,10,4
2,vampire,Olivia Rodrigo,1,2023,6,30,1397,113,140003974,94,...,138,F,Major,51,32,53,17,0,31,6
3,Cruel Summer,Taylor Swift,1,2019,8,23,7858,100,800840817,116,...,170,A,Major,55,58,72,11,0,11,15
4,WHERE SHE GOES,Bad Bunny,1,2023,5,18,3133,50,303236322,84,...,144,A,Minor,65,23,80,14,63,11,6

## Write a script to identify the number of songs in the file.

In [4]:
print(f"There are a total of {len(df)} songs in the dataset.")

There are a total of 953 songs in the dataset.

## Write a script that identify the number of songs in the key of E.

In [5]:
key_e_songs = df[df['key'] == 'E']
print(f"There are a total of {len(key_e_songs)} songs in E key.")

There are a total of 62 songs in E key.

## Count the occurrences of values in a specified column (e.g., artist names) and determine the most common value.

In [7]:
artist_counts = df['artist(s)_name'].value_counts()

most_common_artist = artist_counts.idxmax()

most_common_count = artist_counts.max()

print("Most common artist:", most_common_artist)
print("Count:", most_common_count)

Most common artist: Taylor Swift
Count: 34